<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkerboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='my_style.css') }}">

</head>

<body>
    <h1 style="background-color:{{color2}} ;color:{{color1}};"> ***Checkerboard***  </h1>
    <table >
        {% for i in range(x//2)%}
      <tr>
        {% for i in range(y//2)%}
        <td class="color1" style=" background-color:{{color1}} ;"></td>
        <td class="color2" style="background-color:{{color2}} ;"></td>
        {% endfor %}
      </tr>
      <tr>
        {% for i in range(y//2)%} 
        <td class="color2" style="background-color: {{color2}};"></td>
        <td class="color1" style="background-color: {{color1}};"></td>
        {% endfor %}
      </tr>

      {% endfor %}
    </table>
</body>
</html>