
    *{
        margin:auto;
        padding:auto;
    }
    .color1{
        height: 50px;
        width: 50px;
        background-color: black;
    }

    .color2{
        height: 50px;
        width: 50px;
        background-color: red;
    }
    h1{
        text-align: center;
        background-color: black;
        color: red;
        width: 400px;
        margin-bottom: 10px;
    }