*{
    margin: auto;
    padding: 0%;
    font-family: sans-serif;
}

.nav{
    background-color: rgb(42, 39, 39);
    height: 50px;
    display: flex;
    justify-content: space-around;
}
.nav-title{
    padding-left: 10px;
    color: white;
    font-weight: bold;
    margin-right: 10px;

}
.nav-links{
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: flex-start;
    margin-left: 10px;
}
li{
    list-style-type: none;
}
.nav ul li a{
    text-decoration: none;
    
    color: white;
}
.btn{

    padding: 5px 20px;
background-color: aqua;
color: white;
}
.active{
    font-weight: bolder;
}


.container{
    width: 620px;
    height: 370px;
    margin-top: 5%;
    display: flex;
}
.box1{

    width: 400px;
    height: 100%;

}
.head-card{
    height: 50px ;
    background-color:rgb(23,162,184);
}
.body-card{
    height:180px ;
    background-color: white;
    border: 2px;
    border-color: silver;
    border-style: solid;
    border-top: 2px;
    display: flex;
    flex-direction: column;
}
.head-education{
    height: 30px;
    background-color: rgb(40, 39, 39);
    margin-top: 20px;
    
}
.body-education{
    height: 90px;
    background-color: white;
    border: 2px;
    border-style: solid;
    border-color: silver;
    border-top: 2px;

}
.box2{

    width:220px;
    height: 100%;

    margin-left: 20px;
}
.head-Req{
    height: 40px;
    background-color: rgb(40, 39, 39);

}

.body-Req{
    height: 90px;
    background-color: white;
    border: 2px;
    border-style: solid;
    border-color: silver;
    border-top: 2px;
}
.head-Connect{
    height:40px;
    background-color:rgb(33, 32, 32);
margin-top: 20px;
}
.body-connect{
    height: 150px;
    background-color: white;
    border: 2px;
    border-color: silver;
    border-style: solid;
    border-top: 2px;
}
.link{
    height: 30px;
    background-color: white;
    border: 2px;
    border-color: silver;
    border-style: solid;
    border-top: 2px;
    display: flex;
}
.link a{
    margin-left: 10px;
}

h4{
    color: white;
}
.img-jane{
    height:50px;
    width: 50px;
    position: relative;
    top: 25px;
    left: 20px;
    border-radius: 50%;
    border: 2px;
    border-color: silver;
    border-style: solid;
    
}
.icon-map{
    height: 15px;
    width: 10px;
    margin-right: 5px;
}
.icon-gear{
    height: 13px;
    width: 13px;
    margin-right: 5px;
}
.img-flex{
    display: flex;
    align-items: center;
}
.body-card p{
 margin-left: 25px;

}
.body-card h3{
    margin-left: 20px;
    margin-top: 25px;
}
.flex{
    display: flex;
}

.head-education{
    display: flex;
}
.head-education h4{
    margin-left: 15px;
}
.body-education{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.body-education p{
margin-left: 20px;
}
.head-Req {
    display: flex;
    align-items: center;
    
}
.circle{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgb(204,204,204);
    border-style: solid;
    border-color:silver
    
}
.body-Req{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imgee{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.icones{
    height:20px ;
    width: 20px;
    border-radius: 50%;
}
.body-Req {
    display: flex;
    justify-content: space-around;
    

}
.todd{
    display: flex;
    justify-content:center ;
    width: 100%;
    justify-content: space-between;
}
.phil{
    display: flex;
    justify-content: center;
    width: 100%;
    justify-content: space-between;
    
}
.aa{
    display: flex;
    
}
.circlee{
    height: 30px;
    width: 40px;
    border-radius: 50%;
    border: 2px;
    border-style: solid;
    background-color: rgb(204,204,204);

}
.head-Connect{
    display:flex ;
    align-items: center;
    justify-content: center;
}
.img-per{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.per{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    justify-content: space-between;
    margin-bottom: 5px;
}
