 .body{
    background-color: rgb(234,246,233);
    height:1100px ;
    width:1000px ;
    align-items: center;
    justify-content: center;
    padding: 25px;
 }


 h1{

    color: black;
    font-family: sans-serif;
    font-size: x-large;
    text-align: center;
    padding: 10px;
}

#id1{
    background-color: rgb(92,201,248);
    height: 300px;
    
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
    j
}
#id2{
    height: 200px;
    
    
  
}
#id3{

    background-color: rgb(211,162,170);
    height: 300px;
    
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    justify-content: space-around;

}
#id4{
    background-color: white;
    height: 300px;
    
    padding: 10px;
    display: flex;
justify-content: space-between;
align-items: center;
}
h5{
    font-family: sans-serif;
    font-size: medium;
    color: gray;
    text-align: center;

}
#span{
color: aqua;
}