*{
    margin: auto;
    padding: 0%;
    font-family: sans-serif;
}
.container{

    width:800px;
    height:600px

    
}
.Nav{
    height:50px;
    background-color:rgb(193,193,193);    
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}
.box{
    width: 580px;
    
    
}
.box1{
    height: 300px;
    border: 2px;
    border-color: black;
    border-style: solid;
    margin-bottom: 20px;
    display: flex;
    align-items: center;

}
.box2{
    height: 300px;
    border: 2px;
    border-color: black;
    border-style: solid;
    display: flex;
}
.box3{
    display: flex;
    height: 150px;
    width: 200px;
    border: 2px;
    border-style: solid;
    border-color: black;
    margin-left: 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.flexbox{
    display: flex;
}
.btn{
    width: 50px;
    height: 25px;
    background-color: blue;
    color:white;
    box-shadow: 2px 2px rgb(16, 15, 15);
    

}
.input{
    width:200px ;
    height: 20px;
    border: 2px;
    border-color: black;
    border-style: solid;
    color: silver;
}
.flex{
    display: flex;
    flex-direction: column;
    height: 70%;
    justify-content: flex-start;
    margin-left: 20px;
}
.btn-Y{
    height:25px;
    width: 70px;
    background-color:#e4c25b ;
    color: black;
    border: 2px;
    border-color: black;
    border-style: solid;
    box-shadow: 2px 2px rgb(16, 15, 15);
}
span{
    font-weight: bold;
}
.btn-G{
    height: 25px;
    width: 80%;
    background-color:#93c47d;
    color: black;
    border: 2px;
    border-color: black;
    border-style: solid;
    box-shadow: 2px 2px rgb(16, 15, 15);
}
.box3 p{
    font-size: x-large;
}
.active{
    font-weight: bold;
}