.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

.flex{
  display: flex;
  gap: 10px;
  
}
.card{
  height: 200px;
  width: 400px;
  border: 2px solid gray;
  margin-top: 50px;
}
.btn{
  height: 20px;
  width: 100px;
  background-color: aqua;
  color: black;
  font-weight: bold;
  border-radius: 3px;
  box-shadow: 2px 2px black;
  margin-top: 50px;
}