<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <H1 class="text-center">USER {{one_user.id}}</H1>
        <p>Full Name:{{one_user.first_name}} {{one_user.last_name}}</p>
        <p>Email:{{one_user.email}}</p>
        <p>Created On:{{one_user.created_at}}</p>
        <p>Last Update On:{{one_user.updated_at}}</p>

      <div class="d-flex gap-3"><a href="/edit/{{one_user.id}}">Edit</a>|<a href="/delete/{{one_user.id}}">Delete</a></div>
    </div>
</body>
</html>